@import url("https://use.typekit.net/xru3xio.css");
body {
    background-color: #A4C8EE;
    margin-bottom: 0;
    padding: 0;
    font-family: marvin-round, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 3rem;
    text-align: center;
    user-select: none;
}

a {
    list-style: none;
    text-decoration: none;
}

.hidden {
    display: none;
}

.ham {
    display: block;
    position: absolute;
    z-index: 10000000;
    top: 20px;
    right: 20px;
    width: 7vw;
    height: 7vw;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(img/ham.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.navbar {
    z-index: 1000000;
    background-color: #A4C8EE;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120vh;
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

.navbar ul{
    margin-top: 20vw;
    font-size: 4rem;
    list-style: none;
    text-decoration: none;
}

.navbar a, :visited {
    list-style: none;
    text-decoration: none;
    color: white; 
}

.showClose {
    background-image: url(img/ham_closed.png);
}

.showNav {
    transform: translateY(0);
}

.navigation {
    z-index: 2;
    text-align-last: center;
    display: inline-flex;
}

.ciiircles {
    z-index: 3;
}

.character {
   background-color: #A9CDF1;
   width: 25vw;
height: 25vw;
border-radius: 50%;
border: 1px solid rgba(234, 235, 239, 0.17);
cursor: pointer;
}

.content {
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "happy"
        "sad"
        "angry";
        justify-content: space-evenly;
    }

.happy {
    grid-area: happy;
    width: 25vw;
    height: 60vh;
    background-image: url(img/dog_okay.svg);
    background-repeat: no-repeat;
    background-size: 90%;
 
}

.sad {
    grid-area: sad;
    background-image: url(img/sad_cat.svg);
    background-repeat: no-repeat;
    background-size: 105%;
    width: 25vw;
height: 60vh;
}

.angry {
    grid-area: angry;
    background-image: url(img/bear_angry.svg);
    background-repeat: no-repeat;
    background-size: 85%;
width: 25vw;
height: 60vh;
}

.friend {

display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas:
    "friend"
    "emotion";
    justify-content: space-evenly;

    grid-area: friend;
}

.emotion {
    margin-top: 3vh;
    grid-area: emotion;
}

.logo {  color: white;
    font-size: 7rem;
    z-index: 99999999999999;
}

.back span { user-select: none;
    animation:jumb 2s 5;
    display:table-cell;
  }

@keyframes jumb {
    0% {
      transform:translateY(0px)
    }
    50% {
      transform:translateY(-30px);

    }
    100% {
      transform:translateY(0px) 
    }
  }
  .back span:nth-child(1) {
    animation-delay:0s;
  }
  .back span:nth-child(2) {
    animation-delay:.1s;  
  }
  .back span:nth-child(3) {
    animation-delay:.2s;
  }
  .back span:nth-child(4) {
    animation-delay:.3s;  
  }
  .back span:nth-child(5) {
    animation-delay:.4s;
  }
  .back span:nth-child(6) {
    animation-delay:.5s;  
  }
  .back span:nth-child(7) {
    animation-delay:.6s;
  }

.circle1 {
    z-index: -3;
    background-color: white;
    opacity: 0.1;
   width: 45vw;
height: 45vw;
border-radius: 50%;
display: inline-block; 
white-space: nowrap;
left: -100px;
bottom: 440px;
position: absolute;
}

.circle2 {
    z-index: -2;
    background-color: white;
    opacity: 0.1;
   width: 30vw;
height: 30vw;
border-radius: 50%;
display: inline-block; 
white-space: nowrap;
left: -100px;
bottom: 500px;
position: absolute;
}

.circle3 {
    z-index: -1;
    background-color: white;
    opacity: 0.1;
   width: 15vw;
height: 15vw;
border-radius: 50%;
display: inline-block; 
white-space: nowrap;
left: -30px;
bottom: 470px;
position: absolute;
}

.speech {
user-select: none;
width: 550px;
position: absolute;
top: 200px;
left: 5%;
margin-left: 250px;
font-size: 2.5rem;
}

.happycharacter {
    background-image: url(img/dog_okay.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45vh;
    height: 65vh;
    margin-left: 50px;
    margin-top: 200px;
}

.orange {
    background-color: #FD9659;
}

.game {
    position: absolute;
    top: 550px;
}

.read {
    position: absolute;
    top: 450px;

}

.comic {
    position: absolute;
    top: 350px;
}

.happycharacter2 {
    background-image: url(img/dog_playful.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45vh;
    height: 65vh;
    margin-left: 50px;
    margin-top: 200px;
}

.happycharacter3 {
    background-image: url(img/dog_happy.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45vh;
    height: 65vh;
    margin-left: 50px;
    margin-top: 200px;
}

.blue {
    background-color: #A4C8EE;
}

.sadcharacter {
    background-image: url(img/sad_cat.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45vh;
    height: 65vh;
    margin-left: 50px;
    margin-top: 200px;
}

.sadcharacter2 {
    background-image: url(img/cat_okay.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45vh;
    height: 65vh;
    margin-left: 50px;
    margin-top: 200px;
}

.sadcharacter3 {
    background-image: url(img/cat_tongue.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45vh;
    height: 65vh;
    margin-left: 50px;
    margin-top: 200px;
}

.lavender {
    background-color: #bac5f2;
}

.angrycharacter {
    background-image: url(img/bear_angry.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45vh;
    height: 65vh;
    margin-left: 50px;
    margin-top: 200px;
}


.angrycharacter2 {
    background-image: url(img/bear_okay.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45vh;
    height: 65vh;
    margin-left: 50px;
    margin-top: 200px;
}

.angrycharacter3 {
    background-image: url(img/bear_tongue.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45vh;
    height: 65vh;
    margin-left: 50px;
    margin-top: 200px;
}


.angryflower, .angrygame, .angrytic, .angrycomic,
.angryread, .angrychoice, .angryscreen  {
    background-color: #bac5f2;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    background-size: cover;
}


section {
    margin-top: 20%;
}

.sadflower, .sadtic, .sadcomic, .sadread {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
}

.happyflower, .happytic, .happycomic, .happyread, 
.happyscreen, .happychoice, .happygame {
    background-color: #FD9659;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    background-size: cover;
}

iframe {
    margin-top: 200px;
    border: none;
}

img { margin-top: 200px;
    width: 100%;
}


button {
    outline:none;
    user-select: none;
    border-radius: 25px;
    border: 0.1px solid rgba(234, 235, 239, 0.79);
    font-family: marvin-round, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        font-size: 2rem;
        position: absolute;
        text-align: center;
        cursor: pointer; 
        padding: 0 20px 5px 20px;
        left: 5%;
margin-left: 450px;
height: 4rem;
box-shadow: 4px 5px rgba(153, 153, 153, 0.297);
display: inline-block;
    }

   .gameangry, .gamesad {
        top: 600px;
    }

    .goback, .gobacksad,  .gobackangry, .game3sad, 
    .game3, .game3angry, .readsad, .readangry  {
        top: 500px;
    }

    .yes, .yessad, .yesangry, .game1, .comicsad, 
    .comicangry, .game1sad, .game1angry {
        top: 400px;
    }


     .gobackhappy4, .gobackangry4, .goback3, 
     .gobackangry3, .gobacksad3, .goback2, .gobacksad4, 
     .gobackangry2, .gobacksad2, .gobackhappy5, 
     .gobackangry5, .gobacksad5, .gobackhappy6, 
     .gobackangry6, .gobacksad6, .gobackhappy7, 
     .gobackangry7, .gobacksad7 {
        top: 75px;
        left: -445px;
    }


button:hover {
    background-color: #fefffe66;
    transform: translateY(4px)
}

.navbar li:hover, .emotion:hover {
        transform: scale(1.2);
        transition: 1s;
    }

    @media only screen and (max-width: 650px) {
         .logo {
            font-size: 4rem;
        }

        .emotion {
            margin: 0;
            font-size: 2rem;
        }

    }